.touch{
    width: 250px;
    height: 200px;
    font-size: 30px;
    background-color: grey;
    color: white;
    transition: all 1s;
    flex-direction: column;
    display: flex; 
    text-align: center;
    justify-content: center; 
}
.touch:hover{
    background-color: black
}